<div class="col-md-3" ng-controller="leftMenuCtrl">
    <div class="list-group">
        <a ng-repeat="cat in cats" ng-href="/category/{{ cat.id }}/" class="list-group-item">{{ cat.name }}</a>
    </div>
</div>