<nav class="navbar navbar-default">
    <div class="container">
        <a class="navbar-brand" ng-href="/">{{ settings.sitename }}</a>
        
        <form class="navbar-form navbar-left">
            <div class="form-group">
              <input type="text" class="form-control" ng-model="searchinput" placeholder="Поиск товаров">
            </div>
            <a ng-href="/search/?s={{ searchinput }}" class="btn btn-default" ng-disabled="!searchinput">Найти</a>
        </form> 
        
        
        <div class="nav navbar-right" style="margin:7px 35px 0 0;">
            <a ng-href="/cart/" ng-disabled="cartcount < 1" class="btn btn-primary">
            <span class="glyphicon glyphicon-shopping-cart"></span> Корзина <span ng-model="cartcount" class="badge">{{ cartcount }}</span>
        </a>   
        </div>
        
        
    </div>
</nav> 