<div class="row">
    <div class="col-md-8">
            <form>
              <div class="form-group">
                  <input type="text" class="form-control" ng-model="item.name" ng-value="item.name" id="inputName" required placeholder="Название">
              </div>
              <div class="form-group">
                  <select class="form-control" required ng-model="item.cat_id">
                        <option value="">--</option>
                        <option ng-repeat="cat in cats" ng-selected="item.cat_id == cat.id" value="{{cat.id}}">{{cat.name}}</option>
                    </select>                  
              </div>
              <div class="form-group">
                  <textarea rows="10" class="form-control" ng-model="item.description" id="inputDescription" placeholder="Описание"></textarea>
              </div> 
              <div class="form-group">
                  <input type="text" class="form-control" ng-model="item.image" id="inputimage" placeholder="Изображение">
              </div>                  
              <div class="form-group">
                  <input type="number" class="form-control" ng-model="item.price" id="inputPrice" required placeholder="Цена">
              </div>                
                <button ng-click="!item.id ? additem(item) : edititem(item)" ng-disabled="!item.name || !item.price || !item.cat_id" type="submit" class="btn btn-default">{{ !item.id ? 'Добавить' : 'Редактировать' }}</button>
            </form>
        
    </div>
</div>     