<div style="padding-top:30px;" class="row">
    <div class="col-md-3">
        <ul class="nav nav-pills nav-stacked">
            <li role="presentation" ng-class="(tpl === 'index.html' || tpl === 'order.html') ? 'active' : '' "><a href="/adm/">Управление</a></li>
            <li role="presentation" ng-class="(tpl === 'items.html' || tpl === 'edit_item.html' || tpl === 'add_item.html') ? 'active' : '' "><a href="/adm/items/">Товары</a></li>
            <li role="presentation" ng-class="(tpl === 'cats.html' || tpl === 'edit_cat.html' || tpl === 'add_cat.html') ? 'active' : '' "><a href="/adm/cats/">Категории</a></li>
        </ul>        
    </div>
    <div class="col-md-9">
        <H1 ng-hide="!title">{{ title }}</H1>
        <br />
        <ng-include src="path_tpl"></ng-include>
    </div>
</div>