<div style="max-width:500px;">

    <div class="input-group">
      <input type="text" class="form-control" ng-model="new_cat" placeholder="Новая категория">
      <span class="input-group-btn">
      <button type="submit" ng-disabled="!new_cat" ng-click="add_cat(new_cat)" class="btn btn-primary">Добавить</button>
      </span>
    </div>
    <br /><br />
    
    <div style="margin:0 0 20px 0;" class="input-group" ng-repeat="cat in cats">
      <input type="text" class="form-control" ng-model="cat.name" placeholder="Категория">
      <span class="input-group-btn">
          <button class="btn btn-default" ng-disabled="!cat.name" ng-click="edit_cat(cat)" type="button">Редактировать {{cat.id}}</button>
      </span>
    </div>

</div>