<div ng-repeat="order in orders" class="panel panel-default">
    <div class="panel-heading"><a ng-href="/adm/order/{{ order.id }}/">Заказ № {{ order.id }}</a></div>
  <div class="panel-body">
          <p>Дата: {{ order.order_time | date:'dd-MM-yyyy HH:mm:ss' }}</p>
          <p>Имя: {{ order.name }}</p>
          <p>Email: {{ order.email }}</p>
  </div>
</div>



            <nav ng-if="pagination" aria-label="Page navigation">
              <ul class="pagination">
                <li ng-class=" pagination.currentpage == 1 ? 'disabled' : ''">
                  <a ng-href="/adm/?page={{ pagination.currentpage - 1 }}" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
                </li>
                <li ng-repeat="i in pagination.pages" ng-class=" pagination.currentpage == i ? 'active' : ''"><a ng-href="/adm/?page={{i}}">{{ i }}</a></li>
                <li ng-class=" pagination.currentpage == pagination.pages.length ? 'disabled' : ''">
                  <a ng-href="/adm/?page={{ pagination.currentpage + 1 }}" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
                </li>
              </ul>
            </nav>