<select class="form-control" ng-model="cat_id" ng-change="setcat(cat_id)">
    <option value=""></option>
    <option ng-repeat="cat in cats" value="{{cat.id}}">{{cat.name}}</option>
</select>

<br />
<a class="btn btn-primary" ng-href="/adm/add_item/">Добавить товар</a>
<br /><br />

<div ng-repeat="item in items" class="panel panel-default">
    <div class="panel-heading"><a ng-href="/adm/item/{{ item.id }}/">{{ item.name }}</a></div>
  <div class="panel-body">
      <div class="row">
          <div class="col-md-8">
              <p>Цена: {{ item.price }}</p>
              <div data-ng-bind-html="trustAsHtml(item.description)"></div>
          </div>
          <div class="col-md-4">
              <img style="max-width:200px;" ng-src="{{ item.image }}">
          </div>
      </div>
  </div>
</div>