<div class="panel panel-default">
    <div class="panel-heading"><a ng-href="/adm/order/{{ order.id }}/">Заказ № {{ order.id }}</a></div>
  <div class="panel-body">
          <p>Дата: {{ order.order_time | date:'dd-MM-yyyy HH:mm:ss' }}</p>
          <p>Имя: {{ order.name }}</p>
          <p>Email: {{ order.email }}</p>
          <p>Сумма: {{ order.order_sum }}</p>
          <br />
          <H4>Товары:</H4>
          <p ng-repeat="item in items"><a ng-href="/item/{{item.item_id}}/">{{ item.name }}</a> x {{ item.item_count }} (Цена: {{ item.item_price }}, сумма: {{ item.item_count * item.item_price }})</p>
          
  </div>
</div>