<ng-include src="'/tpl/block/nav.html'"></ng-include>       
          
<div class="row">
    
    <ng-include src="'/tpl/block/leftmenu.html'"></ng-include>
    
    <div class="col-md-9">
        <div class="row">  
            <p><a ng-href="/">{{ settings.sitename }}</a></p>
            <H1>Корзина</H1>
            <p ng-show="error">{{error}}</p>
           
       
            <div ng-hide="!items.length > 0">
            
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Товар</th>
                        <th>Цена</th>
                        <th>Количество</th>
                        <th>Сумма</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in items">
                        <td><a ng-href="/item/{{item.id}}/">{{item.name}}</a></td>
                        <td>{{ item.price }}</td>
                        <td width="10%" align="left"><input type="number" min="1" class="form-control" ng-change="updateCartItem(item.id, item_count); getSumm()" ng-model="item_count" ng-value="{{ cartitems[item.id] }}"></td>
                        <td>{{ cartitems[item.id] * item.price }}</td>
                        <td width="15%" align="right"><a ng-href="" ng-click="items.splice($index, 1); removeCartItem(item.id); getSumm()" class="btn btn-danger">Удалить</a></td>
                    </tr>
                </tbody>
            </table>           

            <div ng-hide="!summ" class="col-md-8">
                <p>Сумма заказа: {{ summ }}</p>
                <H3>Оформление заказа</H3>
                <br />
            <form>
              <div class="form-group">
                  <label for="inputName">Ваше имя</label>
                  <input type="text" class="form-control" ng-model="user.name" id="inputName" value="" required placeholder="Имя">
              </div>
              <div class="form-group">
                <label for="inputEmail">Email</label>
                <input type="email" class="form-control" ng-model="user.email" id="inputEmail" value="" required placeholder="Email">
              </div>
                <button ng-click="sendOrder()" ng-disabled="!user.name || !user.email" type="submit" class="btn btn-default">Оформить заказ</button>
            </form>     
            </div>
            

            </div>

            
        </div>
    </div>
    
</div>
      
<ng-include src="'/tpl/block/footer.html'"></ng-include>  