<ng-include src="'/tpl/block/nav.html'"></ng-include>       
          
<div class="row">
    
    <ng-include src="'/tpl/block/leftmenu.html'"></ng-include>
    
    <div class="col-md-9">
        <div class="row">  
            <p><a ng-href="/">{{ settings.sitename }}</a></p>
            <H1>{{ cat.name }} {{ itemscount }}</H1>
            <p ng-hide="!error">{{error}}</p>
            
            <div class="row">
                <div ng-repeat="item in items" class="col-sm-6 col-md-4">
                  <div class="thumbnail">
                      <a ng-href="/item/{{ item.id }}/"><img ng-src="{{item.image}}" alt="{{ item.name }}"></a>
                    <div class="caption">
                      <h5>{{ item.name }}</h5>
                      <p>{{ item.price }}</p>
                      <p><a href="#" ng-click="addToCart(item.id)" class="btn btn-default" role="button">В корзину</a></p>
                    </div>
                  </div>
                </div>
            </div>
            
            

            <nav ng-if="pagination" aria-label="Page navigation">
              <ul class="pagination">
                <li ng-class=" pagination.currentpage == 1 ? 'disabled' : ''">
                  <a ng-href="/category/{{id}}/{{ pagination.currentpage - 1 }}/" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
                </li>
                <li ng-repeat="i in pagination.pages" ng-class=" pagination.currentpage == i ? 'active' : ''"><a ng-href="/category/{{id}}/{{i}}/">{{ i }}</a></li>
                <li ng-class=" pagination.currentpage == pagination.pages.length ? 'disabled' : ''">
                  <a ng-href="/category/{{id}}/{{ pagination.currentpage + 1 }}/" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
                </li>
              </ul>
            </nav>
            
            
        </div>
    </div>
    
</div>
      
<ng-include src="'/tpl/block/footer.html'"></ng-include>  