<ng-include src="'/tpl/block/nav.html'"></ng-include>       
          
<div class="row">
    
    <ng-include src="'/tpl/block/leftmenu.html'"></ng-include>
    
    <div class="col-md-9">
        <div class="row">  
            <p><a ng-href="/">{{ settings.sitename }}</a> / <a ng-href="/category/{{ item.cat_id }}/">{{ item.cat_name }}</a></p>
            <H1>{{ item.name }}</H1>
            <p ng-hide="!error">{{error}}</p>
            
            <div ng-hide="error">
                <p><img ng-src="{{ item.image }}"></p>
                <p>Цена: {{ item.price }}</p>
                <p><a href="#" ng-click="addToCart(item.id)" class="btn btn-default">В корзину</a></p>
                <div data-ng-bind-html="trustAsHtml(item.description)"></div>
            </div>
            
        </div>
    </div>
    
</div>
      
<ng-include src="'/tpl/block/footer.html'"></ng-include>  