<div class="row">
    <div style="margin:50px auto 0 auto; float: none;" class="col-md-4">
       
       
<div class="alert alert-danger" role="alert" ng-hide="!message">{{ message }}</div>        
        
<form>
  <div class="form-group">
    <label for="inputLogin">Логин</label>
    <input type="text" class="form-control" id="inputLogin" ng-model="user.login" ng-change="message = ''" placeholder="Логин" value="">
  </div>
  <div class="form-group">
    <label for="inputPassword">Пароль</label>
    <input type="password" class="form-control" id="inputPassword" ng-model="user.password" ng-change="message = ''" placeholder="Пароль" value="">
  </div>
    <button type="submit" class="btn btn-block btn-default" ng-click="submit()" ng-disabled="!user.login || !user.password">Войти</button>
</form>                
        
        
    </div>
</div>