<ng-include src="'/tpl/block/nav.html'"></ng-include>       
          
<div class="row">
    
    <ng-include src="'/tpl/block/leftmenu.html'"></ng-include>
    
    <div class="col-md-9">
        <div class="row">  
            <p><a ng-href="/">{{ settings.sitename }}</a></p>
            <H1>Поиск</H1>
            <p ng-hide="!error">{{error}}</p>
            
            <div class="row">
                <div ng-repeat="item in items" class="col-sm-6 col-md-4">
                  <div class="thumbnail">
                      <a ng-href="/item/{{ item.id }}/"><img ng-src="{{item.image}}" alt="{{ item.name }}"></a>
                    <div class="caption">
                      <h5>{{ item.name }}</h5>
                      <p>{{ item.price }}</p>
                      <p><a href="#" class="btn btn-default" role="button">Button</a></p>
                    </div>
                  </div>
                </div>
            </div>            
            
        </div>
    </div>
    
</div>
      
<ng-include src="'/tpl/block/footer.html'"></ng-include>  